/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;

}

::-webkit-scrollbar {
    display: none;
}


.bold_text {
    font-weight: 600;
}


:root {
    --border: 1px solid red;
}

a {
    text-decoration: none;
    outline: none;
    color: #f1f1f1;
}



/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 320px) {

    .docs_and_time_wrap {
        display: none;
    }

    /*-----TOP CONTENTS-----*/

    .top_body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 50%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        background-color: #f1f1f1;

    }

    .title {
        margin: 0;
        font-weight: 200;
        font-size: 20px;

    }

    .number_of_docs {
        margin: 0;

    }

    /*-----//  TOP CONTENTS-----*/
    /*-----TAB CONTENTS-----*/


    .tab_wrap {
        height: 50%;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        background-color: #222222;


    }

    .tab_contents {
        height: 75% !important;
        width: 100% !important;
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;


    }

    .tabs {
        width: calc(85% - 10px) !important;
        height: calc(90% - 10px) !important;
        padding: 10px;
        margin: auto;
        margin-bottom: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        border-top: 2px solid #f1f1f1;
        border-bottom: 2px solid #f1f1f1;
        cursor: pointer;


    }

    .crisis_tab {
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }

    .tab_number {
        color: #f1f1f1;
        margin: 0;
        font-size: 3.5em;
    }

    .tab_line {
        width: 30px;
        margin: 0;
        border: 2px solid #fff;
    }

    .crisis_tab_line {
        width: 100px;
        border: 2px solid #fff;

    }

    .tab_title {
        color: #f1f1f1;
        margin: 10px 0 0 0;
    }

    .tab_description {
        color: #f1f1f1;
        font-weight: 200;
        opacity: 0.7;
    }

    .crisis_tab_description {
        color: #f1f1f1;
        text-align: center;
        opacity: 0.7;
    }

    .crisis_title {
        color: #f1f1f1;
        font-size: 3em;
        margin: 0;
        color: red;
        text-align: center;
    }

    .crisis_subtitle {
        margin: 0;
        color: #f1f1f1;
        font-size: 18px;
        text-align: center;
    }

    .swiper-pagination-progressbar,
    .swiper-pagination-progressbar-fill {
        color: greenyellow !important;
        height: 100px !important;
    }

    /*-----//  TAB CONTENTS-----*/
    /*----------HISTORY DOCUMENTS----------*/
    /*-----TOP CONTENTS-----*/

    #history_body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;

        background-color: #222222;
    }

    .top_history_body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

    }

    .archives_title {
        color: #f1f1f1;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        z-index: 2;

    }

    .skip_to_buttons {
        width: 90%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;

    }

    .doc_titles {
        color: #f1f1f1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        opacity: 0.5;
        margin: 0;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }

    /*-----//  TOP CONTENTS-----*/
    /*-----HISTORY DOCUMENTS-----*/

    .document_wrap {
        height: 85%;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

    }

    .document_contents {
        width: 90%;
        height: 95%;
        margin: auto;
        overflow: auto;

    }

    .word_history_title {
        width: 100%;
        height: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        color: #000;
        background-color: #f1f1f1;
    }

    .history_list {
        list-style-type: decimal;
        scroll-behavior: smooth;

        margin: 15px 0px;


    }

    .world_history_item {
        color: #f1f1f1;
        margin-bottom: 10px;
        text-align: left;

    }

    .in_list_title {
        text-align: center;
        color: #000;
        font-weight: 600;
        background-color: #f1f1f1;
    }



    /*-----//  HISTORY DOCUMENTS-----*/




    /*----------//  HISTORY DOCUMENTS----------*/

}

@media only screen and (min-width : 768px) {

    /*----TOP CONTENTS----*/
    .title {
        font-size: 30px;
    }

    .number_of_docs {
        font-size: 20px;
    }

    /*----//  TOP CONTENTS----*/
    /*----TABS----*/
    .tabs {
        width: calc(75% - 10px) !important;
        height: calc(80% - 10px) !important;

    }

    .tab_title {
        font-size: 40px;

    }

    .tab_description {
        font-size: 20px;
    }

    /*----//  TABS----*/

}

@media only screen and (min-width : 1024px) {

    /*----TOP CONTENTS----*/
    .title {
        font-size: 45px;
    }

    .number_of_docs {
        font-size: 25px;
    }

    /*----//  TOP CONTENTS----*/
    /*----TABS----*/
    .tabs {
        width: calc(60% - 10px) !important;
        height: calc(65% - 10px) !important;
        border-top: 3px solid #f1f1f1;
        border-bottom: 3px solid #f1f1f1;


    }

    .tab_description {
        font-size: 25px;
    }

    .crisis_subtitle {
        font-size: 30px;
    }

    .crisis_tab_description {
        font-size: 25px;
    }

    .tab_line {}

    /*----//  TABS----*/


}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

    .number_of_docs {
        display: none;
    }

    /*----TOP CONTENTS----*/

    .top_body {
        height: 60%;
    }

    .title {
        font-size: 22px;

    }

    /*----//  TOP CONTENTS----*/
    /*----NUMBER OF DOCUMENTS & LOCAL TIME----*/
    .docs_and_time_wrap {
        position: absolute;
        top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: calc(100% - 10px);
        padding: 0 10px 0 10px;

    }

    #the_time {
        margin-right: 10px;
        font-weight: 600;
    }

    /*----//  NUMBER OF DOCUMENTS & LOCAL TIME----*/
    /*----TABS----*/

    .tab_wrap,
    .tab_contents,
    .tabs {
        display: none;
    }

    .tab_wrap__desktop {
        background-color: #222222;
        width: 100%;
        height: 40%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row;
                flex-flow: row;


    }

    .tab_contents__desktop {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row;
                flex-flow: row;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;

    }

    .tabs__desktop,
    .crisis_tab__desktop {
        width: 270px;
        height: 200px;
        margin: auto;
        border-top: 2px solid rgba(255, 255, 255, 0.5);
        border-bottom: 2px solid #fff;
        cursor: pointer;

    }

    .tab_number {
        font-size: 3.5em;
    }

    .crisis_tab__desktop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }

    .tab_title {
        font-size: 1.5em;
        font-weight: 300;
    }

    .tab_description {
        font-size: 15px;
    }

    .crisis_title__desktop {
        color: #f1f1f1;
        font-size: 2em;
        margin: 0;
        color: red;
        text-align: center;
    }

    .crisis_subtitle {
        font-size: 20px;
    }

    .crisis_tab_description {
        font-size: 15px;
    }

    /*----//  TABS----*/
    /*----HOVERS & SUCH...----*/

    .doc_titles:active {
        opacity: 1;
    }



    /*----//  HOVERS & SUCH...----*/
}